=error_messages_for @post
=form_for @post, :action => url(:admin_post,@post.id), :method => :put, :id => "post_form" do
  .main
    .row
      %label{:for => "post_title"} Title
      .hint Your awesome name to entice the masses
      =text_field :title
    .row
      %label{:for => "post_body"} Body
      .hint What are you tryin' to say?
      =text_area :body
  .secondary
    .row
      %label{:for => "post_tags"} Tags
      .hint Some helpful metadata. Separte with commas
      =text_area @post.tags.join(','), :name => "post[tags]"
    .row
      %label Category
      .hint What is this shit about?
      =select :category, :collection => Post.category_count(:group => true).map{|row| row['key']}.zip
  .buttons=submit "Update"