-@categories = Post.by_category_count(:reduce => true, :group => true)['rows'].sort_by{|row| row['value']}.reverse[0..limit]
%h4 Categories
%ul
  -@categories.each do |row|
    %li
      .count=row['value']
      =link_to row['key'], "/category/#{row['key']}"