-@recent = Post.by_date(:limit => limit, :descending => true)
%h4 Recent Posts
%ul.recent
  -@recent.each do |post|
    %li
      =link_to post.title, "/#{post.path.join('/')}"
      %span.time=post.published_at.strftime('%I:%m%P on %D')