
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

body {
  line-height: 1.5; }

blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" ""; }
  blockquote:before,
  blockquote:after,   q:before,
  q:after {
    content: ""; }

th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle; }

a img {
  border: none; }

























@import url(blueprint/form.css);

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222; }
  body body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #333333;
    font-size: 75%; }
  body h1 {
    font-weight: normal;
    color: #222222;
    font-size: 3em;
    line-height: 1;
    margin-bottom: 0.5em; }
    body h1 img {
      margin: 0; }
  body h2 {
    font-weight: normal;
    color: #222222;
    font-size: 2em;
    margin-bottom: 0.75em; }
  body h3 {
    font-weight: normal;
    color: #222222;
    font-size: 1.5em;
    line-height: 1;
    margin-bottom: 1em; }
  body h4 {
    font-weight: normal;
    color: #222222;
    font-size: 1.2em;
    line-height: 1.25;
    margin-bottom: 1.25em;
    height: 1.25em; }
  body h5 {
    font-weight: normal;
    color: #222222;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 1.5em; }
  body h6 {
    font-weight: normal;
    color: #222222;
    font-size: 1em;
    font-weight: bold; }
  body h2 img, body h3 img, body h4 img, body h5 img, body h6 img {
    margin: 0; }
  body p {
    margin: 0 0 1.5em; }
    body p img {
      float: left;
      margin: 1.5em 1.5em 1.5em 0;
      padding: 0; }
      body p img.right {
        float: right;
        margin: 1.5em 0 1.5em 1.5em; }
  body a {
    text-decoration: underline;
    color: #000099; }
    body a:visited {
      color: #000066; }
    body a:focus {
      color: #000000; }
    body a:hover {
      color: #000000; }
    body a:active {
      color: #cc0099; }
  body blockquote {
    margin: 1.5em;
    color: #666;
    font-style: italic; }
  body strong {
    font-weight: bold; }
  body em {
    font-style: italic; }
  body dfn {
    font-style: italic;
    font-weight: bold; }
  body sup, body sub {
    line-height: 0; }
  body abbr, body acronym {
    border-bottom: 1px dotted #666; }
  body address {
    margin: 0 0 1.5em;
    font-style: italic; }
  body del {
    color: #666; }
  body pre, body code {
    margin: 1.5em 0;
    white-space: pre;
    font: 1em 'andale mono', 'lucida console', monospace;
    line-height: 1.5; }
  body tt {
    font: 1em 'andale mono', 'lucida console', monospace;
    line-height: 1.5; }
  body li ul, body li ol {
    margin: 0 1.5em; }
  body ul {
    margin: 0 1.5em 1.5em 1.5em;
    list-style-type: disc; }
  body ol {
    margin: 0 1.5em 1.5em 1.5em;
    list-style-type: decimal; }
  body dl {
    margin: 0 0 1.5em 0; }
    body dl dt {
      font-weight: bold; }
  body dd {
    margin-left: 1.5em; }
  body table {
    margin-bottom: 1.4em;
    width: 100%; }
  body th {
    font-weight: bold;
    background: #C3D9FF;
    padding: 4px 10px 4px 5px; }
  body td {
    padding: 4px 10px 4px 5px; }
  body tr.even td {
    background: #E5ECF9; }
  body tfoot {
    font-style: italic; }
  body caption {
    background: #eee; }
  body .quiet {
    color: #666666; }
  body .loud {
    color: #111111; }
  body .error {
    padding: .8em;
    margin-bottom: 1em;
    border: 2px solid #dddddd;
    background: #fbe3e4;
    color: #8a1f11;
    border-color: #fbc2c4; }
    body .error a {
      color: #8a1f11; }
  body .notice {
    padding: .8em;
    margin-bottom: 1em;
    border: 2px solid #dddddd;
    background: #fff6bf;
    color: #514721;
    border-color: #ffd324; }
    body .notice a {
      color: #514721; }
  body .success {
    padding: .8em;
    margin-bottom: 1em;
    border: 2px solid #dddddd;
    background: #e6efc2;
    color: #264409;
    border-color: #c6d880; }
    body .success a {
      color: #264409; }
  body .hide {
    display: none; }
  body .highlight {
    background: #ffff00; }
  body .added {
    background: #006600;
    color: #ffffff; }
  body .removed {
    background: #990000;
    color: #ffffff; }

.container {
  width: 950px;
  margin: 0 auto;
  overflow: auto;
  overflow: -moz-scrollbars-none;
  display: inline-block; }
  .container {
    display: block; }
  .container form label {
    font-weight: bold; }
  .container form fieldset {
    padding: 1.4em;
    margin: 0 0 1.5em 0;
    border: 1px solid #ccc; }
  .container form legend {
    font-weight: bold;
    font-size: 1.2em; }
  .container form input.text {
    margin: 0.5em 0;
    border: 1px solid #bbb;
    width: 300px;
    padding: 5px; }
    .container form input.text:focus {
      border: 1px solid #666; }
  .container form input.title {
    font-size: 1.5em; }
  .container form input.title {
    margin: 0.5em 0;
    border: 1px solid #bbb;
    width: 300px;
    padding: 5px; }
    .container form input.title:focus {
      border: 1px solid #666; }
  .container form textarea {
    margin: 0.5em 0;
    border: 1px solid #bbb; }
    .container form textarea:focus {
      border: 1px solid #666; }
  .container form select {
    margin: 0.5em 0;
    border: 1px solid #bbb; }
    .container form select:focus {
      border: 1px solid #666; }
  .container form textarea {
    width: 390px;
    height: 250px;
    padding: 5px; }
  .container form .row {
    margin-bottom: 1em; }
    .container form .row .hint {
      font-size: 0.9em;
      line-height: 0.9em;
      color: #666; }
    .container form .row label {
      text-transform: uppercase;
      line-height: 1em;
      font-size: 1.1em;
      font-family: Gill Sans,Verdana,sans-serif; }
  .container table#posts td.action {
    width: 100px;
    text-align: center; }
  .container table#posts td.published {
    width: 100px; }
  .container input#post_title, .container textarea#post_body, .container input#post_tags {
    width: 690px; }
