
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

body {
  line-height: 1.5; }

blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" ""; }
  blockquote:before,
  blockquote:after,   q:before,
  q:after {
    content: ""; }

th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle; }

a img {
  border: none; }



























.ui-accordion-group {
  margin-bottom: 1px; }

.ui-accordion-header {
  cursor: pointer;
  position: relative; }

.selected .ui-accordion-header {
  border-bottom: 0; }

.ui-accordion .ui-icon {
  position: absolute;
  left: .5em;
  top: 50%;
  margin-top: -8px; }

.ui-accordion-header a {
  display: block;
  font-size: 1em;
  padding: .5em .5em .5em 2.2em; }

.ui-accordion-content-wrap {
  border-top: 0;
  margin-top: -1px;
  position: relative;
  top: 1px; }

.ui-accordion-content {
  padding: 1em 2.2em; }

.ui-dialog {
  position: relative;
  padding: .2em;
  width: 300px; }

.ui-dialog-titlebar {
  padding: .5em .3em .3em 1em;
  position: relative; }

.ui-dialog-title {
  float: left;
  margin: .1em 0 .2em; }

.ui-dialog-titlebar-close {
  padding: .5em .3em .3em 1em;
  position: relative; }

.ui-dialog-content {
  border: 0;
  padding: .5em 1em;
  background: none;
  overflow: auto; }

.ui-dialog-buttonpane {
  text-align: left;
  border-width: 1px 0 0 0;
  background-image: none;
  margin: .5em 0 0 0;
  padding: .3em 1em .5em .4em; }
  .ui-dialog-buttonpane button {
    float: right;
    margin: .5em .4em .5em 0;
    cursor: pointer;
    padding: .2em .6em .3em .6em;
    line-height: 1.4em;
    width: auto;
    overflow: visible; }

.ui-dialog .ui-resizable-se {
  width: 14px;
  height: 14px;
  right: 3px;
  bottom: 3px; }

.ui-draggable .ui-dialog-titlebar {
  cursor: move; }

.ui-progressbar {
  height: 2em;
  text-align: left; }

.ui-progressbar-value {
  margin: -1px;
  height: 100%; }

.ui-resizable {
  position: relative; }

.ui-resizable-handle {
  position: absolute;
  font-size: 0.1px;
  z-index: 99999;
  display: block; }

.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle {
  display: none; }

.ui-resizable-n {
  cursor: n-resize;
  height: 7px;
  width: 100%;
  top: -5px;
  left: 0px; }

.ui-resizable-s {
  cursor: s-resize;
  height: 7px;
  width: 100%;
  bottom: -5px;
  left: 0px; }

.ui-resizable-e {
  cursor: e-resize;
  width: 7px;
  right: -5px;
  top: 0px;
  height: 100%; }

.ui-resizable-w {
  cursor: w-resize;
  width: 7px;
  left: -5px;
  top: 0px;
  height: 100%; }

.ui-resizable-se {
  cursor: se-resize;
  width: 7px;
  height: 7px;
  right: -5px;
  bottom: -5px; }

.ui-resizable-sw {
  cursor: sw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  bottom: -5px; }

.ui-resizable-nw {
  cursor: nw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  top: -5px; }

.ui-resizable-ne {
  cursor: ne-resize;
  width: 9px;
  height: 9px;
  right: -5px;
  top: -5px; }

.ui-slider {
  position: relative;
  text-align: left; }

.ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 1.2em;
  height: 1.2em;
  cursor: default; }

.ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: 1%;
  display: block;
  border: 0; }

.ui-slider-horizontal {
  height: .8em; }
  .ui-slider-horizontal .ui-slider-handle {
    top: -.3em;
    margin-left: -.6em; }
  .ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%; }

.ui-slider-vertical {
  width: .8em;
  height: 100%; }
  .ui-slider-vertical .ui-slider-handle {
    left: -.3em;
    margin-left: 0;
    margin-bottom: -.6em; }
  .ui-slider-vertical .ui-slider-range {
    left: 0;
    height: auto;
    width: 100%; }

.ui-tabs {
  padding: .2em; }

.ui-tabs-nav {
  padding: .2em .2em 0 .2em;
  position: relative; }
  .ui-tabs-nav li {
    float: left;
    border-bottom: 0 !important;
    margin: 0 .2em -1px 0;
    padding: 0; }
    .ui-tabs-nav li a {
      text-decoration: none;
      padding: .5em 1em; }
    .ui-tabs-nav li.ui-tabs-selected {
      padding-bottom: .1em;
      border-bottom: 0; }

.ui-tabs-panel {
  padding: 1em 1.4em;
  display: block;
  border: 0;
  background: none; }

.ui-tabs-hide {
  display: none !important; }

.ui-icon {
  width: 16px;
  height: 16px;
  background-image: url(/images/ui_theme/c02669_256x240_icons_icons.png); }

.ui-widget-content .ui-icon {
  background-image: url(/images/ui_theme/c02669_256x240_icons_icons.png); }

.ui-widget-header .ui-icon {
  background-image: url(/images/ui_theme/e1e463_256x240_icons_icons.png); }

.ui-state-default .ui-icon {
  background-image: url(/images/ui_theme/ffffff_256x240_icons_icons.png); }

.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {
  background-image: url(/images/ui_theme/454545_256x240_icons_icons.png); }

.ui-state-active .ui-icon {
  background-image: url(/images/ui_theme/ffffff_256x240_icons_icons.png); }

.ui-state-highlight .ui-icon {
  background-image: url(/images/ui_theme/88a206_256x240_icons_icons.png); }

.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {
  background-image: url(/images/ui_theme/ffeb33_256x240_icons_icons.png); }

.ui-icon-carat-1-n {
  background-position: 0 0; }

.ui-icon-carat-1-ne {
  background-position: -16px 0; }

.ui-icon-carat-1-e {
  background-position: -32px 0; }

.ui-icon-carat-1-se {
  background-position: -48px 0; }

.ui-icon-carat-1-s {
  background-position: -64px 0; }

.ui-icon-carat-1-sw {
  background-position: -80px 0; }

.ui-icon-carat-1-w {
  background-position: -96px 0; }

.ui-icon-carat-1-nw {
  background-position: -112px 0; }

.ui-icon-carat-2-n-s {
  background-position: -128px 0; }

.ui-icon-carat-2-e-w {
  background-position: -144px 0; }

.ui-icon-triangle-1-n {
  background-position: 0 -16px; }

.ui-icon-triangle-1-ne {
  background-position: -16px -16px; }

.ui-icon-triangle-1-e {
  background-position: -32px -16px; }

.ui-icon-triangle-1-se {
  background-position: -48px -16px; }

.ui-icon-triangle-1-s {
  background-position: -64px -16px; }

.ui-icon-triangle-1-sw {
  background-position: -80px -16px; }

.ui-icon-triangle-1-w {
  background-position: -96px -16px; }

.ui-icon-triangle-1-nw {
  background-position: -112px -16px; }

.ui-icon-triangle-2-n-s {
  background-position: -128px -16px; }

.ui-icon-triangle-2-e-w {
  background-position: -144px -16px; }

.ui-icon-arrow-1-n {
  background-position: 0 -32px; }

.ui-icon-arrow-1-ne {
  background-position: -16px -32px; }

.ui-icon-arrow-1-e {
  background-position: -32px -32px; }

.ui-icon-arrow-1-se {
  background-position: -48px -32px; }

.ui-icon-arrow-1-s {
  background-position: -64px -32px; }

.ui-icon-arrow-1-sw {
  background-position: -80px -32px; }

.ui-icon-arrow-1-w {
  background-position: -96px -32px; }

.ui-icon-arrow-1-nw {
  background-position: -112px -32px; }

.ui-icon-arrow-2-n-s {
  background-position: -128px -32px; }

.ui-icon-arrow-2-ne-sw {
  background-position: -144px -32px; }

.ui-icon-arrow-2-e-w {
  background-position: -160px -32px; }

.ui-icon-arrow-2-se-nw {
  background-position: -176px -32px; }

.ui-icon-arrowstop-1-n {
  background-position: -192px -32px; }

.ui-icon-arrowstop-1-e {
  background-position: -208px -32px; }

.ui-icon-arrowstop-1-s {
  background-position: -224px -32px; }

.ui-icon-arrowstop-1-w {
  background-position: -240px -32px; }

.ui-icon-arrowthick-1-n {
  background-position: 0 -48px; }

.ui-icon-arrowthick-1-ne {
  background-position: -16px -48px; }

.ui-icon-arrowthick-1-e {
  background-position: -32px -48px; }

.ui-icon-arrowthick-1-se {
  background-position: -48px -48px; }

.ui-icon-arrowthick-1-s {
  background-position: -64px -48px; }

.ui-icon-arrowthick-1-sw {
  background-position: -80px -48px; }

.ui-icon-arrowthick-1-w {
  background-position: -96px -48px; }

.ui-icon-arrowthick-1-nw {
  background-position: -112px -48px; }

.ui-icon-arrowthick-2-n-s {
  background-position: -128px -48px; }

.ui-icon-arrowthick-2-ne-sw {
  background-position: -144px -48px; }

.ui-icon-arrowthick-2-e-w {
  background-position: -160px -48px; }

.ui-icon-arrowthick-2-se-nw {
  background-position: -176px -48px; }

.ui-icon-arrowthickstop-1-n {
  background-position: -192px -48px; }

.ui-icon-arrowthickstop-1-e {
  background-position: -208px -48px; }

.ui-icon-arrowthickstop-1-s {
  background-position: -224px -48px; }

.ui-icon-arrowthickstop-1-w {
  background-position: -240px -48px; }

.ui-icon-arrowreturnthick-1-w {
  background-position: 0 -64px; }

.ui-icon-arrowreturnthick-1-n {
  background-position: -16px -64px; }

.ui-icon-arrowreturnthick-1-e {
  background-position: -32px -64px; }

.ui-icon-arrowreturnthick-1-s {
  background-position: -48px -64px; }

.ui-icon-arrowreturn-1-w {
  background-position: -64px -64px; }

.ui-icon-arrowreturn-1-n {
  background-position: -80px -64px; }

.ui-icon-arrowreturn-1-e {
  background-position: -96px -64px; }

.ui-icon-arrowreturn-1-s {
  background-position: -112px -64px; }

.ui-icon-arrowrefresh-1-w {
  background-position: -128px -64px; }

.ui-icon-arrowrefresh-1-n {
  background-position: -144px -64px; }

.ui-icon-arrowrefresh-1-e {
  background-position: -160px -64px; }

.ui-icon-arrowrefresh-1-s {
  background-position: -176px -64px; }

.ui-icon-arrow-4 {
  background-position: 0 -80px; }

.ui-icon-arrow-4-diag {
  background-position: -16px -80px; }

.ui-icon-extlink {
  background-position: -32px -80px; }

.ui-icon-newwin {
  background-position: -48px -80px; }

.ui-icon-refresh {
  background-position: -64px -80px; }

.ui-icon-shuffle {
  background-position: -80px -80px; }

.ui-icon-transfer-e-w {
  background-position: -96px -80px; }

.ui-icon-transferthick-e-w {
  background-position: -112px -80px; }

.ui-icon-folder-collapsed {
  background-position: 0 -96px; }

.ui-icon-folder-open {
  background-position: -16px -96px; }

.ui-icon-document {
  background-position: -32px -96px; }

.ui-icon-document-b {
  background-position: -48px -96px; }

.ui-icon-note {
  background-position: -64px -96px; }

.ui-icon-mail-closed {
  background-position: -80px -96px; }

.ui-icon-mail-open {
  background-position: -96px -96px; }

.ui-icon-suitcase {
  background-position: -112px -96px; }

.ui-icon-comment {
  background-position: -128px -96px; }

.ui-icon-person {
  background-position: -144px -96px; }

.ui-icon-print {
  background-position: -160px -96px; }

.ui-icon-trash {
  background-position: -176px -96px; }

.ui-icon-locked {
  background-position: -192px -96px; }

.ui-icon-unlocked {
  background-position: -208px -96px; }

.ui-icon-bookmark {
  background-position: -224px -96px; }

.ui-icon-tag {
  background-position: -240px -96px; }

.ui-icon-home {
  background-position: 0 -112px; }

.ui-icon-flag {
  background-position: -16px -112px; }

.ui-icon-calendar {
  background-position: -32px -112px; }

.ui-icon-cart {
  background-position: -48px -112px; }

.ui-icon-pencil {
  background-position: -64px -112px; }

.ui-icon-clock {
  background-position: -80px -112px; }

.ui-icon-disk {
  background-position: -96px -112px; }

.ui-icon-calculator {
  background-position: -112px -112px; }

.ui-icon-zoomin {
  background-position: -128px -112px; }

.ui-icon-zoomout {
  background-position: -144px -112px; }

.ui-icon-search {
  background-position: -160px -112px; }

.ui-icon-wrench {
  background-position: -176px -112px; }

.ui-icon-gear {
  background-position: -192px -112px; }

.ui-icon-heart {
  background-position: -208px -112px; }

.ui-icon-star {
  background-position: -224px -112px; }

.ui-icon-link {
  background-position: -240px -112px; }

.ui-icon-cancel {
  background-position: 0 -128px; }

.ui-icon-plus {
  background-position: -16px -128px; }

.ui-icon-plusthick {
  background-position: -32px -128px; }

.ui-icon-minus {
  background-position: -48px -128px; }

.ui-icon-minusthick {
  background-position: -64px -128px; }

.ui-icon-close {
  background-position: -80px -128px; }

.ui-icon-closethick {
  background-position: -96px -128px; }

.ui-icon-key {
  background-position: -112px -128px; }

.ui-icon-lightbulb {
  background-position: -128px -128px; }

.ui-icon-scissors {
  background-position: -144px -128px; }

.ui-icon-clipboard {
  background-position: -160px -128px; }

.ui-icon-copy {
  background-position: -176px -128px; }

.ui-icon-contact {
  background-position: -192px -128px; }

.ui-icon-image {
  background-position: -208px -128px; }

.ui-icon-video {
  background-position: -224px -128px; }

.ui-icon-alert {
  background-position: 0 -144px; }

.ui-icon-info {
  background-position: -16px -144px; }

.ui-icon-notice {
  background-position: -32px -144px; }

.ui-icon-help {
  background-position: -48px -144px; }

.ui-icon-check {
  background-position: -64px -144px; }

.ui-icon-bullet {
  background-position: -80px -144px; }

.ui-icon-radio-off {
  background-position: -96px -144px; }

.ui-icon-radio-on {
  background-position: -112px -144px; }

.ui-icon-play {
  background-position: 0 -160px; }

.ui-icon-pause {
  background-position: -16px -160px; }

.ui-icon-seek-next {
  background-position: -32px -160px; }

.ui-icon-seek-prev {
  background-position: -48px -160px; }

.ui-icon-seek-end {
  background-position: -64px -160px; }

.ui-icon-seek-first {
  background-position: -80px -160px; }

.ui-icon-stop {
  background-position: -96px -160px; }

.ui-icon-eject {
  background-position: -112px -160px; }

.ui-icon-volume-off {
  background-position: -128px -160px; }

.ui-icon-volume-on {
  background-position: -144px -160px; }

.ui-icon-power {
  background-position: 0 -176px; }

.ui-icon-signal-diag {
  background-position: -16px -176px; }

.ui-icon-signal {
  background-position: -32px -176px; }

.ui-icon-battery-0 {
  background-position: -48px -176px; }

.ui-icon-battery-1 {
  background-position: -64px -176px; }

.ui-icon-battery-2 {
  background-position: -80px -176px; }

.ui-icon-battery-3 {
  background-position: -96px -176px; }

.ui-icon-circle-plus {
  background-position: 0 -192px; }

.ui-icon-circle-minus {
  background-position: -16px -192px; }

.ui-icon-circle-close {
  background-position: -32px -192px; }

.ui-icon-circle-triangle-e {
  background-position: -48px -192px; }

.ui-icon-circle-triangle-s {
  background-position: -64px -192px; }

.ui-icon-circle-triangle-w {
  background-position: -80px -192px; }

.ui-icon-circle-triangle-n {
  background-position: -96px -192px; }

.ui-icon-circle-arrow-e {
  background-position: -112px -192px; }

.ui-icon-circle-arrow-s {
  background-position: -128px -192px; }

.ui-icon-circle-arrow-w {
  background-position: -144px -192px; }

.ui-icon-circle-arrow-n {
  background-position: -160px -192px; }

.ui-icon-circle-zoomin {
  background-position: -176px -192px; }

.ui-icon-circle-zoomout {
  background-position: -192px -192px; }

.ui-icon-circle-check {
  background-position: -208px -192px; }

.ui-icon-circlesmall-plus {
  background-position: 0 -208px; }

.ui-icon-circlesmall-minus {
  background-position: -16px -208px; }

.ui-icon-circlesmall-close {
  background-position: -32px -208px; }

.ui-icon-squaresmall-plus {
  background-position: -48px -208px; }

.ui-icon-squaresmall-minus {
  background-position: -64px -208px; }

.ui-icon-squaresmall-close {
  background-position: -80px -208px; }

.ui-icon-grip-dotted-vertical {
  background-position: 0 -224px; }

.ui-icon-grip-dotted-horizontal {
  background-position: -16px -224px; }

.ui-icon-grip-solid-vertical {
  background-position: -32px -224px; }

.ui-icon-grip-solid-horizontal {
  background-position: -48px -224px; }

.ui-icon-gripsmall-diagonal-se {
  background-position: -64px -224px; }

.ui-icon-grip-diagonal-se {
  background-position: -80px -224px; }

.ui-widget {
  font-family: "Gill Sans",Arial,sans-serif;
  font-size: 1.2em; }

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
  font-family: "Gill Sans",Arial,sans-serif;
  font-size: 1em; }

.ui-widget-header {
  border: 1px solid #2c4359;
  background: #35414f url(/images/ui_theme/35414f_40x100_textures_09_dots_small_35.png) 50% 50% repeat;
  color: #e1e463;
  font-weight: bold; }
  .ui-widget-header a {
    color: #e1e463; }

.ui-widget-content {
  border: 1px solid #aaaaaa;
  background: #ffffff url(/images/ui_theme/ffffff_40x100_textures_01_flat_75.png) 50% 50% repeat-x;
  color: #2c4359; }
  .ui-widget-content a {
    color: #2c4359; }

.ui-state-default, .ui-widget-content .ui-state-default {
  border: 1px solid #93c3cd;
  background: #93c3cd url(/images/ui_theme/93c3cd_40x100_textures_07_diagonals_small_50.png) 50% 50% repeat;
  font-weight: bold;
  color: #333333;
  outline: none; }

.ui-state-default a {
  color: #333333;
  text-decoration: none;
  outline: none; }

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus {
  border: 1px solid #999999;
  background: #ccd232 url(/images/ui_theme/ccd232_40x100_textures_07_diagonals_small_75.png) 50% 50% repeat;
  font-weight: bold;
  color: #212121;
  outline: none; }

.ui-state-hover a {
  color: #212121;
  text-decoration: none;
  outline: none; }

.ui-state-active, .ui-widget-content .ui-state-active {
  border: 1px solid #ff6b7f;
  background: #db4865 url(/images/ui_theme/db4865_40x100_textures_07_diagonals_small_40.png) 50% 50% repeat;
  font-weight: bold; color: #ffffff; outline: none; }

.ui-state-active a {
  color: #ffffff;
  outline: none;
  text-decoration: none; }

.ui-state-highlight, .ui-widget-content .ui-state-highlight {
  border: 1px solid #b4d100;
  background: #ffff38 url(/images/ui_theme/ffff38_40x100_textures_10_dots_medium_80.png) 50% 50% repeat; color: #363636; }

.ui-state-error, .ui-widget-content .ui-state-error {
  border: 1px solid #ff6b7f;
  background: #ff3853 url(/images/ui_theme/ff3853_40x100_textures_07_diagonals_small_50.png) 50% 50% repeat;
  color: #ffffff; }

.ui-state-error-text, .ui-widget-content .ui-state-error-text {
  color: #ffffff; }

.ui-state-disabled, .ui-widget-content .ui-state-disabled {
  opacity: .35;
  background-image: none; }

.ui-priority-primary, .ui-widget-content .ui-priority-primary {
  font-weight: bold; }

.ui-priority-secondary, .ui-widget-content .ui-priority-secondary {
  opacity: .7;
  font-weight: normal; }

.ui-corner-tl {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px; }

.ui-corner-tr {
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px; }

.ui-corner-bl {
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px; }

.ui-corner-br {
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px; }

.ui-corner-top {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;-moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px; }

.ui-corner-bottom {
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px; }

.ui-corner-right {
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px; }

.ui-corner-left {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px; }

.ui-corner-all {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; }

.ui-widget-overlay {
  background: #f7f7ba url(/images/ui_theme/f7f7ba_40x100_textures_11_white_lines_85.png) 50% 50% repeat;
  opacity: .80;
  filter: Alpha(Opacity=80); }

.ui-widget-shadow {
  margin: 8px 0 0 8px;
  padding: 10px;
  background: #ba9217 url(/images/ui_theme/ba9217_40x100_textures_01_flat_75.png) 50% 50% repeat-x;
  opacity: .20;
  filter: Alpha(Opacity=20);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222; }
  body body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #333333;
    font-size: 75%; }
  body h1 {
    font-weight: normal;
    color: #222222;
    font-size: 3em;
    line-height: 1;
    margin-bottom: 0.5em; }
    body h1 img {
      margin: 0; }
  body h2 {
    font-weight: normal;
    color: #222222;
    font-size: 2em;
    margin-bottom: 0.75em; }
  body h3 {
    font-weight: normal;
    color: #222222;
    font-size: 1.5em;
    line-height: 1;
    margin-bottom: 1em; }
  body h4 {
    font-weight: normal;
    color: #222222;
    font-size: 1.2em;
    line-height: 1.25;
    margin-bottom: 1.25em;
    height: 1.25em; }
  body h5 {
    font-weight: normal;
    color: #222222;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 1.5em; }
  body h6 {
    font-weight: normal;
    color: #222222;
    font-size: 1em;
    font-weight: bold; }
  body h2 img, body h3 img, body h4 img, body h5 img, body h6 img {
    margin: 0; }
  body p {
    margin: 0 0 1.5em; }
    body p img {
      float: left;
      margin: 1.5em 1.5em 1.5em 0;
      padding: 0; }
      body p img.right {
        float: right;
        margin: 1.5em 0 1.5em 1.5em; }
  body a {
    text-decoration: underline;
    color: #000099; }
    body a:visited {
      color: #000066; }
    body a:focus {
      color: #000000; }
    body a:hover {
      color: #000000; }
    body a:active {
      color: #cc0099; }
  body blockquote {
    margin: 1.5em;
    color: #666;
    font-style: italic; }
  body strong {
    font-weight: bold; }
  body em {
    font-style: italic; }
  body dfn {
    font-style: italic;
    font-weight: bold; }
  body sup, body sub {
    line-height: 0; }
  body abbr, body acronym {
    border-bottom: 1px dotted #666; }
  body address {
    margin: 0 0 1.5em;
    font-style: italic; }
  body del {
    color: #666; }
  body pre, body code {
    margin: 1.5em 0;
    white-space: pre;
    font: 1em 'andale mono', 'lucida console', monospace;
    line-height: 1.5; }
  body tt {
    font: 1em 'andale mono', 'lucida console', monospace;
    line-height: 1.5; }
  body li ul, body li ol {
    margin: 0 1.5em; }
  body ul {
    margin: 0 1.5em 1.5em 1.5em;
    list-style-type: disc; }
  body ol {
    margin: 0 1.5em 1.5em 1.5em;
    list-style-type: decimal; }
  body dl {
    margin: 0 0 1.5em 0; }
    body dl dt {
      font-weight: bold; }
  body dd {
    margin-left: 1.5em; }
  body table {
    margin-bottom: 1.4em;
    width: 100%; }
  body th {
    font-weight: bold;
    background: #C3D9FF;
    padding: 4px 10px 4px 5px; }
  body td {
    padding: 4px 10px 4px 5px; }
  body tr.even td {
    background: #E5ECF9; }
  body tfoot {
    font-style: italic; }
  body caption {
    background: #eee; }
  body .quiet {
    color: #666666; }
  body .loud {
    color: #111111; }
  body .error {
    padding: .8em;
    margin-bottom: 1em;
    border: 2px solid #dddddd;
    background: #fbe3e4;
    color: #8a1f11;
    border-color: #fbc2c4; }
    body .error a {
      color: #8a1f11; }
  body .notice {
    padding: .8em;
    margin-bottom: 1em;
    border: 2px solid #dddddd;
    background: #fff6bf;
    color: #514721;
    border-color: #ffd324; }
    body .notice a {
      color: #514721; }
  body .success {
    padding: .8em;
    margin-bottom: 1em;
    border: 2px solid #dddddd;
    background: #e6efc2;
    color: #264409;
    border-color: #c6d880; }
    body .success a {
      color: #264409; }
  body .hide {
    display: none; }
  body .highlight {
    background: #ffff00; }
  body .added {
    background: #006600;
    color: #ffffff; }
  body .removed {
    background: #990000;
    color: #ffffff; }

.container {
  width: 950px;
  margin: 0 auto;
  overflow: auto;
  overflow: -moz-scrollbars-none;
  display: inline-block; }
  .container {
    display: block; }
  .container #nav {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    line-height: 1.3;
    text-decoration: none;
    font-size: 100%;
    list-style: none;
    border: 1px solid #2c4359;
    background: #35414f url(/images/ui_theme/35414f_40x100_textures_09_dots_small_35.png) 50% 50% repeat;
    color: #e1e463;
    font-weight: bold;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin-top: 1em;
    padding: 1em 1em 0;
    font-size: .9em;
    overflow: hidden; }
    .container #nav a {
      color: #e1e463; }
    .container #nav #new_post {
      color: #333;
      text-decoration: none;
      float: right;
      padding: 0.2em 1em 0.2em 20px;
      position: relative;
      border: 1px solid #93c3cd;
      background: #93c3cd url(/images/ui_theme/93c3cd_40x100_textures_07_diagonals_small_50.png) 50% 50% repeat;
      font-weight: bold;
      color: #333333;
      outline: none;
      -moz-border-radius-topleft: 4px;
      -webkit-border-top-left-radius: 4px;
      border-top-left-radius: 4px;-moz-border-radius-topright: 4px;
      -webkit-border-top-right-radius: 4px;
      border-top-right-radius: 4px; }
      .container #nav #new_post:hover {
        border: 1px solid #999999;
        background: #ccd232 url(/images/ui_theme/ccd232_40x100_textures_07_diagonals_small_75.png) 50% 50% repeat;
        font-weight: bold;
        color: #212121;
        outline: none; }
        .container #nav #new_post:hover .ui-icon {
          background-image: url(/images/ui_theme/454545_256x240_icons_icons.png); }
      .container #nav #new_post:active {
        border: 1px solid #ff6b7f;
        background: #db4865 url(/images/ui_theme/db4865_40x100_textures_07_diagonals_small_40.png) 50% 50% repeat;
        font-weight: bold; color: #ffffff; outline: none; }
      .container #nav #new_post .ui-icon {
        left: 0.2em;
        margin: -8px 5px 0 0;
        position: absolute;
        top: 50%;
        background-image: url(/images/ui_theme/ffffff_256x240_icons_icons.png); }
    .container #nav ul {
      margin: 0;
      padding: 0;
      border: 0;
      outline: 0;
      line-height: 1.3;
      text-decoration: none;
      font-size: 100%;
      list-style: none;
      padding: .2em .2em 0 .2em;
      position: relative;
      list-style: none;
      float: left; }
      .container #nav ul li {
        float: left;
        border-bottom: 0 !important;
        margin: 0 .2em -1px 0;
        padding: 0; }
        .container #nav ul li a {
          text-decoration: none;
          padding: .5em 1em; }
        .container #nav ul li.ui-tabs-selected {
          padding-bottom: .1em;
          border-bottom: 0; }
      .container #nav ul li a {
        -moz-border-radius-topleft: 4px;
        -webkit-border-top-left-radius: 4px;
        border-top-left-radius: 4px;-moz-border-radius-topright: 4px;
        -webkit-border-top-right-radius: 4px;
        border-top-right-radius: 4px;
        border: 1px solid #93c3cd;
        background: #93c3cd url(/images/ui_theme/93c3cd_40x100_textures_07_diagonals_small_50.png) 50% 50% repeat;
        font-weight: bold;
        color: #333333;
        outline: none;
        color: #333;
        padding: 0.2em 1em; }
        .container #nav ul li a:hover {
          border: 1px solid #999999;
          background: #ccd232 url(/images/ui_theme/ccd232_40x100_textures_07_diagonals_small_75.png) 50% 50% repeat;
          font-weight: bold;
          color: #212121;
          outline: none; }
        .container #nav ul li a:active {
          border: 1px solid #ff6b7f;
          background: #db4865 url(/images/ui_theme/db4865_40x100_textures_07_diagonals_small_40.png) 50% 50% repeat;
          font-weight: bold; color: #ffffff; outline: none; }
  .container form label {
    font-weight: bold; }
  .container form fieldset {
    padding: 1.4em;
    margin: 0 0 1.5em 0;
    border: 1px solid #ccc; }
  .container form legend {
    font-weight: bold;
    font-size: 1.2em; }
  .container form input.text {
    margin: 0.5em 0;
    border: 1px solid #bbb;
    width: 300px;
    padding: 5px; }
    .container form input.text:focus {
      border: 1px solid #666; }
  .container form input.title {
    font-size: 1.5em; }
  .container form input.title {
    margin: 0.5em 0;
    border: 1px solid #bbb;
    width: 300px;
    padding: 5px; }
    .container form input.title:focus {
      border: 1px solid #666; }
  .container form textarea {
    margin: 0.5em 0;
    border: 1px solid #bbb; }
    .container form textarea:focus {
      border: 1px solid #666; }
  .container form select {
    margin: 0.5em 0;
    border: 1px solid #bbb; }
    .container form select:focus {
      border: 1px solid #666; }
  .container form textarea {
    width: 390px;
    height: 250px;
    padding: 5px; }
  .container form .row {
    margin-bottom: 1em; }
    .container form .row .hint {
      font-size: 0.9em;
      line-height: 0.9em;
      color: #666; }
    .container form .row label {
      text-transform: uppercase;
      line-height: 1em;
      font-size: 1.1em;
      font-family: Gill Sans,Verdana,sans-serif; }
  .container #posts table td.action {
    width: 100px;
    text-align: center; }
  .container #posts table td.published {
    width: 100px; }
  .container input#post_title, .container textarea#post_body, .container input#post_tags {
    width: 690px; }

table.tablesorter {
  background-color: #CDCDCD;
  margin: 10px 0pt 15px;
  font-size: 0.7em;
  width: 100%;
  text-align: left; }
  table.tablesorter thead tr th {
    background-color: #e6EEEE;
    border: 1px solid #FFF;
    padding: 4px;
    color: #333;
    overflow: hidden; }
  table.tablesorter thead tr .header {
    border: 1px solid #93c3cd;
    background: #93c3cd url(/images/ui_theme/93c3cd_40x100_textures_07_diagonals_small_50.png) 50% 50% repeat;
    font-weight: bold;
    color: #333333;
    outline: none;
    border-color: #fff;
    cursor: pointer; }
    table.tablesorter thead tr .header.headerSortUp {
      border: 1px solid #ff6b7f;
      background: #db4865 url(/images/ui_theme/db4865_40x100_textures_07_diagonals_small_40.png) 50% 50% repeat;
      font-weight: bold; color: #ffffff; outline: none;
      border-color: #fff; }
      table.tablesorter thead tr .header.headerSortUp .ui-icon {
        background-position: 0 -16px; }
    table.tablesorter thead tr .header.headerSortDown {
      border: 1px solid #ff6b7f;
      background: #db4865 url(/images/ui_theme/db4865_40x100_textures_07_diagonals_small_40.png) 50% 50% repeat;
      font-weight: bold; color: #ffffff; outline: none;
      border-color: #fff; }
      table.tablesorter thead tr .header.headerSortDown .ui-icon {
        background-position: -64px -16px; }
    table.tablesorter thead tr .header .ui-icon {
      float: right;
      background-position: -128px -16px;
      background-image: url(/images/ui_theme/ffffff_256x240_icons_icons.png); }
  table.tablesorter tbody td {
    color: #3D3D3D;
    padding: 4px;
    background-color: #FFF;
    vertical-align: top; }
  table.tablesorter tbody tr.odd td {
    background-color: #efefef; }
  table.tablesorter tfoot tr th {
    background-color: #e6EEEE;
    border: 1px solid #FFF;
    padding: 4px;
    color: #333;
    overflow: hidden; }
