-throw_content :for_footer do
  =js_include_tag "jquery.tablesorter", "jquery.markitup", "admin", :bundle => :admin
-throw_content :for_head do
  =css_include_tag "tabletheme", "markitup/style.css", :bundle => :admin