!!! Strict
%html{html_attrs}
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html;charset=utf-8'}/
    =css_include_tag 'compiled/screen'
    %title="BrianTheCoder - #{(@title || 'On the Edge of Sanity')}"
  %body
    %div.container
      #header
        .intro The Writings of
        %h1=link_to "BrianTheCoder", url(:home)
        .tagline=TAGLINES[rand(TAGLINES.size)]
      #hr
      #main=catch_content :for_layout
      #sidebar
        =part PostsPart => :archive_list
        =part PostsPart => :category_list
        =part PostsPart => :tag_list
        =part PostsPart => :recent_posts
    - if Merb.environment == 'development'
      =js_include_tag :jquery, :application, :bundle => :base
    - else
      =js_include_tag "#{request.protocol}://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"
      =js_include_tag :application, :bundle => :base